<div id="meetup_header_stretch_map_canvas"></div>
  <%= form_for [current_user, @meetup] do |f| %>
  <div class="meetup_info">
    <h3>Your meetup with:</h3>
    <% s = 'ambassador' %>
    <div id="meetup_participants">
      <div class="meetup_card">
        <span class="meetup_pic" style="background-image: url('<%= @visitor.profile_pic %>')"></span>
        <div id="right_of_picture">
          <h2><%= @visitor.name %></h2>
          <% @visitor_attributes.each do |a| %>
            <span class="user_info"><%= a %></span>
          <% end %>
          <%= f.date_select :date_time %>
          <%= f.text_area :meetup_notes %>
          <%= f.submit %>
        </div>

    </div>
  <% end %>
</div>
<ul id="errors"></ul>
<%= javascript_include_tag 'ajax' %>