<%= form_for [current_user, @meetup] do |f| %>
  <div id="meetup_header_stretch_map_canvas"></div>
  <div id="meetup_info_edit">
    <%= f.date_select :date_time %>
    <% s = 'ambassador' %>
    <div id="meetup_participants">
      <div class="meetup_card">
        <span id="meetup_ambassador_pic">
          <%= image_tag(@ambassador.profile_pic) %>
        </span>
        <h2 id="meetup_ambassador_name_title"><%= @ambassador.name %></h2>
        <% @ambassador_attributes.each do |a| %>
          <span class="user_email" id="meetup_ambassador_email"><%= a %></span>
        <% end %>
      </div>

      <div class="meetup_card">
        <span id="meetup_visitor_pic">
          <%= image_tag(@visitor.profile_pic) %>
        </span>
        <h2 id="meetup_visitor_name_title"><%= @visitor.name %></h2>
        <% @visitor_attributes.each do |a| %>
          <span class="user_email" id="meetup_visitor_email"><%= a %></span>
        <% end %>
      </div>

      <span id="review_meetup_date"><%= @meetup.date_time %></span>
    </div>
    <%= f.text_area :meetup_notes %>
    <%= f.submit %>
  </div>
<% end %>
<ul id="errors"></ul>
<%= javascript_include_tag 'ajax' %>