<div id="tours_list">
  <% @tours.each do |t| %>
    <%= link_to user_meetup_path(t.visitor,t) do %>
      <div class="ambassador_tour_card">
        <%= image_tag(t.visitor.profile_pic(t.visitor.uid)) %>
        <span class="card_name"><%= t.visitor.first_name %></span>
        <span class="card_tag"><%= t.visitor.last_name %></span>
        <span class="card_description"><%= t.meetup_notes %></span>
      </div>
    <% end %>
  <% end %>
</div>