<div id="meetup_header_stretch_map_canvas"></div>
<div class="meetup_info">
  <h3>Your meetup with:</h3>
  <div id="meetup_participants">
    <% if @visitor.id == current_user.id %>
      <div class="meetup_card">
        <span class="meetup_pic" style="background-image: url('<%= @ambassador.profile_pic %>')"></span>
        <div id="right_of_picture">
          <h2><%= @ambassador.name %></h2>
          <%= @meetup.date_time.to_formatted_s(:upcoming_date) %>
          <% @ambassador_attributes.each do |a| %>
            <span class="user_info"><%= a %></span>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @ambassador.id == current_user.id %>
      <div class="meetup_card">
        <span class="meetup_pic" style="background-image: url('<%= @visitor.profile_pic %>')"></span>
        <h2><%= @visitor.name %></h2>
        <% @visitor_attributes.each do |a| %>
          <span class="user_email" id="meetup_visitor_email"><%= a %></span>
        <% end %>        
      </div>
    <% end %>

  </div>
  <%= @meetup.meetup_notes %>
</div>
