<div id="meetup_header_stretch_map_canvas"></div>
<div class="meetup_info">
  <h3>Your meetup with:</h3>
  <div id="meetup_participants">
    <% if @visitor.id == current_user.id %>
      <div class="meetup_card">
        <span class="meetup_pic" style="background-image: url('<%= @ambassador.profile_pic %>')"></span>
        <div id="right_of_picture">
          <h2><%= @ambassador.name %></h2>
          <p class="user_info"><%= @meetup.date_time.to_formatted_s(:upcoming_date) %> at <%= @meetup.address %></p>
          <% if @ambassador.email %>
            <p class="meetup_email user_info"><%= @ambassador.email %></p>
          <% end %>
          <% if @ambassador.phone %>
            <p class="meetup_phone user_info"><%= @ambassador.phone %></p>
          <% end %>
          <span class="user_info">
            <% if @ambassador.gender %>
              <span class="meetup_gender"><%= @ambassador.gender %></span>
            <% end %>
            <% if @ambassador.age %>
              <span class="meetup_age"> - <%= @ambassador.age %></span>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>

    <% if @ambassador.id == current_user.id %>
      <div class="meetup_card">
        <span class="meetup_pic" style="background-image: url('<%= @visitor.profile_pic %>')"></span>
        <div id="right_of_picture">
          <h2><%= @visitor.name %></h2>
          <p class="user_info"><%= @meetup.date_time.to_formatted_s(:upcoming_date) %> at <%= @meetup.address %></p>
          <% if @visitor.email %>
            <p class="meetup_email user_info"><%= @visitor.email %></p>
          <% end %>
          <% if @visitor.phone %>
            <p class="meetup_phone user_info"><%= @visitor.phone %></p>
          <% end %>
          <span class="user_info">
            <% if @visitor.gender %>
              <span class="meetup_gender"><%= @visitor.gender %></span>
            <% end %>
            <% if @visitor.age %>
              <span class="meetup_age"> - <%= @visitor.age %></span>
            <% end %>
          </span>            
        </div>      
      </div>
    <% end %>

  </div>
  <span id="meetup_notes">
    <%= "Notes: " + @meetup.meetup_notes if @meetup.meetup_notes%>
  </span>
</div>