<div id="search_results_list">
  <% if @users %>
    <% @users.each do |user| %>
      <div class='card'>
        <span class='card_photo' style="background-image: url('<%= user.profile_pic %>')"></span>
        <span class='card_info'>
          <p class='card_name'><%= user.first_name %></p>
          <p class='card_tagline'><%= user.tagline %></p>
          <p class='card_rating'><%= user.rating %></p>
          <p class='search_contact_button_container'>
            <%= link_to "More Info", user_tours_path(user), :class => 'search_contact_button' %>
          </p>
        </span>
      </div>
    <% end %>
   <% end %>
</div>
