<div id="search_results_list">
  <% if @users %>
    <% @users.each do |user| %>
      <div class='search_results_card'>
        <span class='ambassador_photo_card' style="background-image: url('<%= user.profile_pic %>')"></span>
        <span class='search_card_info'>
          <p class='ambassador_name_card'><%= user.first_name %></p>
          <p class='ambassador_tag_line_card'><%= user.tagline %></p>
          <p class='ambassador_rating_card'><%= user.rating %></p>
          <p class='search_contact_button_container'>
            <%= link_to "Contact", user_tours_path(user), :class => 'search_contact_button' %>
          </p>
        </span>
      </div>
    <% end %>
   <% end %>
</div>
