<h2 id="dashboard_title">Dashboard</h2>
<div id="section_headers">
  <h3 class="profile_title">Visitor Profile</h3>
  <h3 class="profile_title">Ambassador Profile</h3>
</div>
<div id="dashboard_sections">
  <div id="visitor_profile" class="section">
    <div class="profile_section">
      <h4 class="profile_tours_title">Tours</h4>
      <% @visitor_tours.each do |t| %>
        <%= link_to user_meetup_path(t.ambassador,t) do %>
          <div class="card">
            <%= image_tag(t.ambassador.profile_pic(t.ambassador.uid), :class => 'card_image') %>
            <span class="card_name"><%= t.ambassador.first_name %></span>
            <span class="card_tag"><%= t.ambassador.last_name %></span>
            <span class="care_despcription"><%= t.meetup_notes %></span>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if @visitor_incomplete_reviews.size > 0 %>
      <div class="profile_section">
        <h4 class="profile_reviews_title">How was your experience? Review:</h4>
        <% @visitor_incomplete_reviews.each do |r| %>
          <%= link_to new_user_review_path(r.ambassador,r) do %>
            <div class="card">
              <%= image_tag(r.ambassador.profile_pic(r.ambassador.uid), :class => 'card_image') %>
              <span class="card_name"><%= r.ambassador.first_name %></span>
              <span class="card_tag"><%= r.ambassador.last_name %></span>
              <span class="care_despcription"><%= r.meetup_notes %></span>
            </div>
          <% end %>      
        <% end %>
      </div>
    <% end %>

    <% if @user.incomplete_information.size > 0 %>
      <div class="profile_section">
        <h4 class="profile_complete_info_title">Profile</h4>
        <span class="profile_complete_info_tag">
          Your profile still needs some information
        </span>
        <% @user.incomplete_information.each do |i| %>
          <%= link_to edit_user_path(@user) do %>
            Add your <%= i %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <h4>Are you currently and ambassador?</h4>
    <% if @user.is_ambassador == true %>
      <p>Yes.</p>
      <%= button_to 'Sir (or Lady), I do declare that I shall meet those terms.', {:controller => "users", :action => "ambassador_toggle" }, :method=>:put, class: "button_style3"%>
    <% else %>
      <p>No</p>
      <%= button_to 'Sir (or Lady), I do declare that I shall meet those terms.', {:controller => "users", :action => "ambassador_toggle" }, :method=>:put, class: "button_style3"%>
    <% end %>
  </div>

  <div id="ambassador_profile" class="section">
    <div class="profile_section">
      <h4 class="profile_tours_title">Upcoming Tours</h4>
      <% @ambassador_tours.each do |t| %>
        <%= link_to user_meetup_path(t.ambassador,t) do %>
          <div class="card">
            <%= image_tag(t.visitor.profile_pic(t.visitor.uid), :class => 'card_image') %>
            <span class="card_name"><%= t.visitor.first_name %></span>
            <span class="card_tag"><%= t.visitor.last_name %></span>
            <span class="care_despcription"><%= t.meetup_notes %></span>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="profile_section">
      <h3 class="profile_section_title">Your Ratings</h3>
      <div id="ambassador_overall_rating">
        Overall rating: <%= @ambassador_overall_rating %>
      </div>
      <div id="ambassador_ratings">
        <% @user.all_ratings(:ambassador).each do |r| %>
          <span class="rating"><%= r.rating %> - </span>
          <span class="rating_comments"><%= r.comment %></span>
        <% end %>
      </div>
    </div>

    <% if @ambassador_incomplete_reviews.size > 0 %>
      <div class="profile_section">
        <h4 class="profile_reviews_title">How was your experience? Review:</h4>
        <% @ambassador_incomplete_reviews.each do |r| %>
          <%= link_to new_user_review_path(r.visitor,r) do %>
            <div class="card">
              <%= image_tag(r.visitor.profile_pic(r.visitor.uid), :class => 'card_image') %>
              <span class="card_name"><%= r.visitor.first_name %></span>
              <span class="card_tag"><%= r.visitor.last_name %></span>
              <span class="card_despcription"><%= r.meetup_notes %></span>
            </div>
          <% end %>      
        <% end %>
      </div>
    <% end %>
  </div>
</div>
