<h2 id="dashboard_title">Dashboard</h2>
<div id="section_headers">
  <h3 class="profile_title">Visitor Profile</h3>
  <h3 class="profile_title">Ambassador Profile</h3>
</div>
<div id="dashboard_sections">
  <div id="visitor_profile" class="section">
    <div class="profile_section">
      <h4 class="profile_tours_title">Tours</h4>
      <% @visitor_meetups.each do |m| %>
        <%= link_to user_meetup_path(m.ambassador,m) do %>
          <span class="card">
            <span class="card_image_container">
              <%= image_tag(m.ambassador.profile_pic(m.ambassador.uid), :class => 'card_image') %>
            </span>
            <span class="card_info">
              <p class="card_name"><%= m.ambassador.name %></p>
              <p class="card_tag"><%= m.ambassador.tagline %></p>
              <p class="card_despcription"><%= m.tour.description.truncate(45) %></p>
            </span>
          </span>
        <% end %>
      <% end %>
    </div>

    <% if @visitor_incomplete_reviews.size > 0 %>
      <div class="profile_section">
        <h4 class="profile_reviews_title">How was your experience? Review:</h4>
        <% @visitor_incomplete_reviews.each do |r| %>
          <%= link_to new_user_review_path(r.ambassador,r) do %>
            <span class="card">
              <span class="card_image_container">
                <%= image_tag(r.ambassador.profile_pic(r.ambassador.uid), :class => 'card_image') %>
              </span>
              <span class="card_info">
                <p class="card_name"><%= r.ambassador.name %></p>
                <p class="card_date"><%= r.date_time %></p>
                <p class="card_location"><%= r.address %></p>
              </span>
            </span>
          <% end %>      
        <% end %>
      </div>
    <% end %>

    <% if @user.incomplete_information.size > 0 %>
      <div class="profile_section">
        <h4 class="profile_complete_info_title">Profile</h4>
        <span class="profile_complete_info_tag">
          Your profile still needs some information
        </span>
        <% @user.incomplete_information.each do |i| %>
          <%= link_to edit_user_path(@user) do %>
            <p>Add your <%= i %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>


  <div id="ambassador_profile" class="section">
    <% if !@user.is_ambassador %>
      <div id="ambassador_overlay">
      <%= button_to 'Become an Ambassador!', {:controller => "users", :action => "ambassador_toggle" }, :method=>:put, class: "button_style3", :id => 'become_ambassador'%>
    </div>
    <% end %>
    <div class="profile_section">
      <h4 class="profile_tours_title">Upcoming Tours</h4>
      <% if @ambassador_tours.size > 0 %>
        <% @ambassador_tours.each do |t| %>
          <%= link_to user_meetup_path(t.ambassador,t) do %>
            <div class="card">
              <span class="card_image_container">
                <%= image_tag(t.visitor.profile_pic(t.visitor.uid), :class => 'card_image') %>
              </span>
              <span class="card_info">
                <p class="card_name"><%= t.visitor.name %></p>
                <p class="card_tag"><%= t.visitor.tagline %></p>
                <p class="card_despcription"><%= t.meetup_notes %></p>
              </span>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>You have no upcoming tours</p>
      <% end %>
    </div>
    <div class="profile_section">
      <h3 class="profile_section_title">Your Ratings</h3>
      <% if @ambassador_overall_rating %>
        <div id="ambassador_overall_rating">
          <p>Overall rating: <%= @ambassador_overall_rating %></p>
        </div>
        <div id="ambassador_ratings">
          <% @user.all_ratings(:ambassador).each do |r| %>
            <p><span class="rating"><%= r.rating %> - </span><%= r.comment %></p>
          <% end %>
        </div>
      <% else %>
        <p>You have no ratings</p>
      <% end %>
    </div>

    <% if @ambassador_incomplete_reviews.size > 0 %>
      <div class="profile_section">
        <h4 class="profile_reviews_title">How was your experience? Review:</h4>
        <% @ambassador_incomplete_reviews.each do |r| %>
          <%= link_to new_user_review_path(r.visitor,r) do %>
            <span class="card">
              <span class="card_image_container">
                <%= image_tag(r.visitor.profile_pic(r.visitor.uid), :class => 'card_image') %>
              </span>
              <span class="card_info">
                <p class="card_name"><%= r.visitor.name %></p>
                <p class="card_tag"><%= r.date_time %></p>
                <p class="card_despcription"><%= r.address %></p>
              </span>
            </span>
          <% end %>      
        <% end %>
      </div>
    <% end %>
    <% if @user.is_ambassador %>
      <%= button_to 'Stop being an Ambassador!', {:controller => "users", :action => "ambassador_toggle" }, :method=>:put, class: "button_style3"%>
    <% end %>
  </div>
</div>
