<h2 id="dashboard_title">Dashboard</h2>
<div id="section_headers">
  <h3 class="profile_title">Visitor</h3>
  <h3 class="profile_title">Ambassador</h3>
</div>
<div id="dashboard_sections">
  <div id="visitor_profile" class="section">
    <div class="profile_section">
      <h4 class="profile_tours_title">Upcoming Meetups</h4>
      <% @visitor_meetups.each do |m| %>
        <%= link_to user_meetup_path(m.ambassador,m) do %>
          <span class="card">
            <span class="card_image_container" style="background-image:url('<%= m.ambassador.profile_pic(m.ambassador.uid) %>')">
            </span>
            <span class="card_info">
              <p class="card_name">
                <%= m.ambassador.name + " - " + m.date_time.to_formatted_s(:upcoming_date) %>
              </p>
              <p class="card_tag"><%= m.ambassador.tagline %></p>
              <p class="card_despcription"><%= m.tour.description.truncate(45) %></p>
            </span>
          </span>
        <% end %>
      <% end %>
    </div>

    <% if @visitor_incomplete_reviews.size > 0 %>
      <div class="profile_section">
        <h4 class="profile_reviews_title">How was your experience? Review:</h4>
        <% @visitor_incomplete_reviews.each do |r| %>
          <%= link_to new_user_review_path(r.ambassador) do %>
            <span class="card">
              <span class="card_image_container" style="background-image:url('<%= r.ambassador.profile_pic(r.ambassador.uid) %>')">
              </span>
              <span class="card_info">
                <p class="card_name">
                  <%= r.ambassador.name + " - " + distance_of_time_in_words_to_now(r.date_time) + " ago"%>
                </p>
                <p class="card_location"><%= r.address %></p>
              </span>
            </span>
          <% end %>      
        <% end %>
      </div>
    <% end %>

    <% if @user.incomplete_information.size > 0 %>
      <div class="profile_section">
        <h4 class="profile_complete_info_title">Profile</h4>
        <span class="profile_complete_info_tag">
          Your profile still needs some information
        </span>
        <% @user.incomplete_information.each do |i| %>
          <%= link_to edit_user_path(@user) do %>
            <p>Add your <%= i %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>


  <div id="ambassador_profile" class="section">
    <% if !@user.is_ambassador %>
      <div id="ambassador_overlay">
        <%= button_to 'Become an Ambassador!', {:controller => "users", :action => "ambassador_toggle" }, :method=>:put, class: "button_style3", :id => 'become_ambassador'%>
      </div>
    <% end %>
    <div class="profile_section">
      <h4 class="profile_tours_title">Upcoming Meetups</h4>
      <% if @ambassador_tours.size > 0 %>
        <% @ambassador_tours.each do |t| %>
          <%= link_to edit_user_meetup_path(t.ambassador,t) do %>
            <div class="card">
              <span class="card_image_container" style="background-image:url('<%= t.visitor.profile_pic(t.visitor.uid) %>')">
              </span>
              <span class="card_info">
                <p class="card_name"><%= t.visitor.name + " - " + t.date_time.to_formatted_s(:upcoming_date) %></p>
                <p class="card_location"><%= t.address %></p>
                <p class="card_tagline"><%= t.visitor.tagline %></p>
              </span>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>You have no upcoming tours</p>
      <% end %>
    </div>

    <div class="profile_section">
      <% if @ambassador_overall_rating %>
        <h4 class="profile_section_title">
          Your rating: <%= @ambassador_overall_rating %>
        </h4>
        <div id="ambassador_ratings">
          <% @user.all_ratings(:ambassador).each do |r| %>
            <p><span class="rating"><%= r.rating %> - </span><%= r.comment %></p>
          <% end %>
        </div>
      <% else %>
        <h3 class="profile_section_title">Ratings:</h3>
        <p>You have no ratings</p>
      <% end %>
    </div>

    <% if @ambassador_incomplete_reviews.size > 0 %>
      <div class="profile_section">
        <h4 class="profile_reviews_title">How was your experience? Review:</h4>
        <% @ambassador_incomplete_reviews.each do |r| %>
          <%= link_to new_user_review_path(r.visitor,r) do %>
            <span class="card">
              <span class="card_image_container" style="background-image:url('<%= r.visitor.profile_pic(r.visitor.uid) %>')">
              </span>
              <span class="card_info">
                <p class="card_name">
                  <%= r.visitor.name + " - " + distance_of_time_in_words_to_now(r.date_time) + " ago"%>
                <p class="card_despcription"><%= r.address %></p>
              </span>
            </span>
          <% end %>      
        <% end %>
      </div>
    <% end %>
    <% if @user.is_ambassador %>
      <div id="ambassador_availability">
        <span id="availablity_title" data-id="<%= @user.id %>">You are currently
        <% if @user.ambassador_availability %>
          Available
          <%= button_to 'Set to Unavailable', {:controller => "users", :action => "ambassador_availability_toggle" }, :method=>:put, class: "button_style3", :id => 'become_available' %>
        <% else %>
          Unavailable
          <%= button_to 'Become Availabile', {:controller => "users", :action => "ambassador_availability_toggle" }, :method=>:put, class: "button_style3", :id => 'become_unvailable' %>
        <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
