<div class="user_info">
  <%= form_for(@user) do |f| %>
    <span class="user_pic" style="background-image: url('<%= @user.profile_pic %>')">
      <p id="change_picture">Change Picture</p>
    </span>
    <div id="right_of_picture">
      <div class="user_name">
        <%= @user.name %>
      </div>
      <div class="user_email">
        <%= f.text_field :email, :placeholder => 'email' %>
      </div>
      <div class="user_tagline">
        <%= f.text_field :tagline, :placeholder => 'tagline' %>
      </div>
    </div>
    <div id="under_picture">
      <div class="user_gender">
        <%= f.radio_button :gender, 'male' %> Male
        <%= f.radio_button :gender, 'female' %> Female
      </div>
      <div class="user_phone">
        <%= f.text_field :phone, :placeholder => 'phone' %>
      </div>
      <div class="user_age">
        <%= f.text_field :age, :placeholder => 'age' %>
      </div>
      <div class="user_bio">
        <%= f.text_area :bio, :placeholder => 'bio' %>
      </div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
<ul id="errors"></ul>

<hr/>
<div class="ambassador_info">
  <div id="choose_specialties">
  <h2>Ambassador</h2>
    <h2 id="specialties_title">Specialties:</h2>
    <div id="specialties">
      <%= form_tag user_specialties_path(@ambassador), :id => 'form_specialty' do %>
      <% @specialties.each do |s| %>
        <div class="specialty">
          <%= check_box_tag "specialty[#{s.id}]", s.id, @ambassador.has_specialty?(s), class: 'pick_specialty'%>
          <%= label_tag "specialty[#{s.id}]", s.specialty %>

        </div>
      <% end %>  
      <div>
          <%= submit_tag("Update Specialties") %>
          <ul id="response"></ul>
      </div>
      <% end %> 
    </div>
  </div>
</div>

<%= javascript_include_tag 'ajax' %>