<div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%=%>,
          status     : true,
          xfbml      : true
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

<%= javascript_include_tag 'vex' %>
<%= javascript_include_tag 'vex.combined.min' %>
<script>vex.defaultOptions.className = 'vex-theme-flat-attack';</script>

<%= javascript_include_tag 'fb_profile_modal' %>

<div class="user_info">
  <%= form_for(@user) do |f| %>
    <span class="user_pic" style="background-image: url('<%= @user.profile_pic %>')">
      <p id='avatar_selector'>Change Picture</p>
    </span>
    <div id="right_of_picture">
      <h2 class="user_name" id="edit_profile_name">
        <%= @user.name %>
      </h2>
      <div class="user_email">
        <%= f.text_field :email, :placeholder => 'email' %>
      </div>
      <div class="user_tagline">
        <%= f.text_field :tagline, :placeholder => 'tagline' %>
      </div>
    </div>
    <div id="under_picture">
      <div class="user_gender">
        <%= f.radio_button :gender, 'male' %> Male
        <%= f.radio_button :gender, 'female' %> Female
      </div>
      <div class="user_phone">
        <%= f.text_field :phone, :placeholder => 'phone' %>
      </div>
      <div class="user_age">
        <%= f.text_field :age, :placeholder => 'age' %>
      </div>
      <div class="user_bio">
        <%= f.text_area :bio, :placeholder => 'bio' %>
      </div>
      <% if @user.is_ambassador %>
        <hr/>
        <div class="ambassador_info">
          <div id="choose_specialties">
            <p id="specialties_title">Ambassador Specialties:</p>
            <div id="specialties">
            <% @specialties.each do |s| %>
              <div class="specialty">
                <%= check_box_tag "specialty[#{s.id}]", s.id, @ambassador.has_specialty?(s), class: 'pick_specialty'%>
                <%= label_tag "specialty[#{s.id}]", s.specialty %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div>
        <%= f.submit "Update", :class => 'orange_button'  %> <span id="saving_success"></span>
      </div>
      <ul id="errors"></ul>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'profile' %>
