<%= javascript_include_tag "search_results" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>




<input id="pac-input-search" class="controls" type="text" placeholder="Find Ambassadors!">
<div id="map-canvas"></div>
<div id="search_results_content">
  <div id="refine_search">
    <% @specialties.each do |s| %>
      <% if s.is_available? %>
        <%= check_box_tag s.specialty, s.specialty, false, class: 'refine_specialty' %>
      <% else %>
        <%= check_box_tag s.specialty, class: 'refine_specialty', disabled: true %>
      <% end %>
      <%= s.specialty %>
    <% end %>
    <% options_for_select(@languages) %>
  </div>

  <%= render partial: "search_results_list" %>

  <div id="home_marketing">
    
  </div>
  
</div>



