<div class="user_info">
    <span class="user_pic" style="background-image: url('<%= @user.profile_pic %>')">
    </span>

    <div id="right_of_picture">
      <% if @user.id == session[:user_id] %>
        <div class="user_name">
          <%= @user.name %>
        </div>
      <% else %>
        <div class="user_name">
            <%= @user.first_name %>
        </div>
      <% end %>
      <div class="user_tagline"><%= @user.tagline %></div>
    </div>

    <div id="user_bio_display">
      Bio: <%= @user.bio %>
    </div>

    <div id="private_info">
      <% if @user.id == session[:user_id] %>
        <h3> Your Private Information </h3>
        <div class="user_email"><%= @user.email %></div>
        <div class="user_phone"><%= @user.phone %></div>
        <div class="user_gender"><%= @user.gender %></div>
        <div class="user_age"><%= @user.age %></div>
      <% end %>
    </div>
</div>