<div id="show_user_info">
    <div id="show_user_pic">
      <%= image_tag(@user.profile_pic) %>
    </div>
    <div id="show_user_name">
      Name: <%= @user.name %>
    </div>
    <div id="show_user_email">
      Email: <%= @user.email %>
    </div>
    <div id="show_user_phone">
      Phone: <%= @user.phone %>
    </div>
    <div id="show_user_gender">
      Gender: <%= @user.gender %>
    </div>
    <div id="show_user_age">
      Age: <%= @user.age %>
    </div>
    <div id="show_user_bio">
      Bio: <%= @user.bio %>
    </div>
</div>