<nav class="home_nav">
  <div id="nav_container">
    <%= link_to 'LOGO', root_path, :id => 'nav_logo' %>
    <span id="right_hand_navbar">
      <% if current_user %>
        <% if current_user.is_ambassador %>
          <%= link_to new_user_tour_path(current_user.id), data: {no_turbolink: true} do %><span id="user_manage_tour_icon"><%= image_tag 'ambassador.png', :class => 'navbar_icon' %></span><% end %>
        <% end %>
        <%= link_to dashboard_path do %><span id="user_dashboard_icon"><%= image_tag 'dashboard.png', :class => 'navbar_icon' %></span><% end %>
        <div id="nav_image_container">
          <span id="nav_profile_pic" style="background-image:url('<%= current_user.profile_pic %>')"></span>
        </div>
      <% else %>
        <%= link_to "/auth/facebook", id: "sign_in" do %>
        <span id="nav_profile_pic" class="facebook_icon" style="background-image:url('<%= '/assets/facebook.png' %>')"></span>
        <% end %>
      <% end %>
    </span>
  </div>
</nav>

<div id="dropdown" class="hide">
  <ul>
    <% if session[:user_id] %>
      <%= link_to edit_user_path(current_user) do %><li>Edit Profile</li><% end %>
      <%= link_to signout_path, id: "sign_out" do %><li>Logout</li><% end %>
    <% end %>
  </ul>

</div>
