<nav>
  <div id="nav_container">
    <span id="nav_logo">LOGO</span>
    <span id="nav_search">
      <%= text_field_tag 'search', nil, :placeholder => 'Search' %>
    </span>
    <span id="right_hand_navbar">
      <% if current_user %>
        <% if current_user.is_ambassador %>
          <%= link_to new_user_tour_path(current_user.id) do %><span id="user_manage_tour_icon"><%= image_tag 'ambassador.png', :class => 'navbar_icon' %></span><% end %>
        <% end %>
        <%= link_to dashboard_path do %><span id="user_dashboard_icon"><%= image_tag 'dashboard.png', :class => 'navbar_icon' %></span><% end %>
        <%= image_tag current_user.profile_pic, :id => 'profile_pic' %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </span>
  </div>
</nav>

<div id="dropdown" class="hide">
  <ul>
    <%= link_to signout_path, id: "sign_out" do %><li>Logout</li><% end %>
    <%= link_to edit_user_path(current_user) do %><li>Account Settings</li><% end %>
  </ul>

</div>
