<h4>Hi, <%= @visitor.first_name%> </h4>

<p><%= @ambassador.first_name%> has agreed to help you.</p>

<p>Here is <%= @ambassador.first_name%>'s contact information.  <%= @ambassador.first_name%> will be contacting you shortly.</p>
<p><%= @ambassador.email %></p>
<p><%= @ambassador.phone %></p>
<p>Tale care,</p>
<%=link_to(root_url) do %>
  <h3 style="font-family:'Dosis',sans-serif;font-weight:800;">City Bird</h3>
<% end %>