<h4>Hi, <%= @visitor.first_name%> </h4>

<p><%= @ambassador.first_name%> has agreed to help you.</p>

<p>Here is <%= @ambassador.first_name%>'s contact information.  <%= @ambassador.first_name%> will be contacting you shortly.</p>
<p><%= @ambassador.email %></p>
<p><%= @ambassador.phone %></p>

<%= image_tag "http://www.ronsaari.com/stockImages/chicago/chicagoSkyline.jpg", alt: "cityscape" %>
<p>Tale care,</p>
<p>Ambassador Program</p>