<h4>Hi, <%= @ambassador.first_name%> </h4>

<p>A new visitor, <%= @visitor.first_name%>, wants your help to get to know your city!</p>
<p>Start Date: <%= @start_date%></p>
<p>End Date: <%= @end_date%></p>

<%= form_tag(reject_request_url, method: "post") do %>
  <%= hidden_field_tag(:ambassador_id, @ambassador.id) %>
  <%= hidden_field_tag(:visitor_id, @visitor.id) %>
  <%= submit_tag("Reject") %>
<% end %>

<%= form_tag(user_meetups_url(@ambassador.id), method: "post") do %>
  <%= hidden_field_tag(:ambassador_id, @ambassador.id) %>
  <%= hidden_field_tag(:visitor_id, @visitor.id) %>
  <%= submit_tag("Accept") %>
<% end %>

<%= image_tag "http://www.ronsaari.com/stockImages/chicago/chicagoSkyline.jpg", alt: "cityscape" %>
<p>Tale care,</p>
<p>Ambassador Program</p>