<%= stylesheet_link_tag "email" %>
<h4>Hi, <%= @ambassador.first_name%> </h4>

<p>A new visitor, <%= @visitor.first_name%>, wants your help to get to know your city!</p>
<p>You can ask clarifying questions to <%= @visitor.first_name%> at <%= @visitor.anonymous_email%></p>
<p>Start Date: <%= @start_date%></p>
<p>End Date: <%= @end_date%></p>

<%= form_tag(reject_request_url, method: "post") do %>
  <%= hidden_field_tag(:ambassador_id, @ambassador.id) %>
  <%= hidden_field_tag(:visitor_id, @visitor.id) %>
  <%= submit_tag "Reject", style: "background-image: linear-gradient(#EB5646, #EB5646);border:medium none;border-radius:4px;color:#FFFFFF;cursor:pointer;padding:4px 10px;"%>
<% end %>
<span style="width:10px"></span>
<%= form_tag(user_meetups_url(@ambassador.id), method: "post") do %>
  <%= hidden_field_tag(:ambassador_id, @ambassador.id) %>
  <%= hidden_field_tag(:visitor_id, @visitor.id) %>
  <%= hidden_field_tag(:start_date, @start_date) %>
  <%= submit_tag "Accept", style: "background-image: linear-gradient(#74AFAD, #74AFAD);border:medium none;border-radius:4px;color:#FFFFFF;cursor:pointer;padding:4px 10px;" %>
<% end %>

<p>Take care,</p>
<%=link_to(root_url) do %>
  <h3 style="font-family:'Dosis',sans-serif;font-weight:800;text-decoration:none;color:#000000;">City Bird</h3>
<% end %>