<%= form_for [current_user, @review] do |f| %>
<div class="meetup_info">
  <h3>Rate your meetup with:</h3>
  <div class="meetup_card">
    <span class="reviewee_pic" style="background-image: url('<%= @reviewee.profile_pic %>')"></span>
    <div id="right_of_picture">
      <h2><%= @reviewee.name %></h2>
      <span class="user_info"><%= @meetup.address %></span>
      <span class="user_info"><%= @meetup.date_time.to_formatted_s(:short) %></span>
      <%= f.select :rating, options_for_select(@rating_options) %>
    </div>

    <div id="reviewee_form">
        <div id="reviewee_rating">
        </div>
        <%= f.text_area :comment, cols: 40, rows: 4,
                        :class => 'experience',
                        :placeholder => 'How was your experience?' %>

        <%= f.hidden_field :meetup_id, :value => @meetup.id %>
        <%= f.hidden_field :reviewee_id, :value => @reviewee.id %>
        <%= f.hidden_field :reviewer_id, :value => @meetup.visitor_id %>

        <%= f.submit %>
      <% end %>
    </div>
    <ul id="errors"></ul>
  </div>
</div>
<%= javascript_include_tag 'ajax' %>




