<!DOCTYPE html>
<html>
<head>
  <title>FindAGuide</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "//maps.google.com/maps/api/js?sensor=false" %>

  
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'shared/navbar' %>
<div id="content">
  <%= yield %>
</div>

<script>  //dropdown menu jquery here to avoid turbolinks
  $("#nav_profile_pic").on('click',function(){
    $("#dropdown").toggleClass('hide');
  });

  $(document).on('click',function(e){
    if(e.target.id !== "nav_profile_pic"){
      $("#dropdown").addClass('hide');
    }
  });

  //search bar location here to avoid turbolinks
  $("#main_search").css('margin-top', ($(document).height() / 2.5   ) + 'px');
  $("#dropdown").css('right', (($(document).width() - 1010) / 2));
</script>

</body>
</html>
