<!DOCTYPE html>
<html>
<head>
  <title>FindAGuide</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= include_gon %>
  
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'shared/navbar' unless request.fullpath == "/" %>
<div id="content">
  <%= yield %>
</div>

<script>  //dropdown menu jquery here to avoid turbolinks

  // SITE-WIDE DROPDOWN
  $("#nav_profile_pic").on('click',function(){
    $("#dropdown").toggleClass('hide');
  });

  $(document).on('click',function(e){
    if(e.target.id !== "nav_profile_pic"){
      $("#dropdown").addClass('hide');
    }
  });

  //search bar location here to avoid turbolinks
  $("#header").css({
    height: ($(document).height() / 4   ) + 'px',
    'max-height': '130px'
  });
  $("#dropdown").css('right', (($(document).width() - 1010) / 2));
</script>

</body>
</html>
